@use '../../../partials/variables';

.products-container {
    // height: 100vh;
    

    .product-items-wrapper {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: 30px;
        margin: 30px 30px 30px 30px;

        .product-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 8px;
            background-color: #fff;
            width: 230px;
            margin-left: 30px;
    
            img {
                width: 220px;
                height: 200px;
                // border: 1px solid red;
            }
    
            .content {
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                h4 {
                    font-weight: 500;
                    text-align: center;
                    padding: 0 4px 0 4px;
                }
    
                p {
                    font-size: .65rem;
                    text-align: center;
                    margin-top: 2px;
                    padding: 4px;
                }
    
                a {
                    padding: 5px;
                    background-color: variables.$button-color;
                    color: #fff;
                    text-decoration: none;
                    font-size: .8rem;
                    margin-top: 10px;
                    border-radius: 5px;
                }
            }
    
        }

        .not-found {
            height: 160px;
        }
    }
}