@use '../../../partials/variables';

nav {
    background: variables.$primary-color;
    width: 100%;
    height: 50px;

    label.logo {
        color: variables.$button-color;
        line-height: 50px;
        margin-left: 20px;
        font-size: 25px;
    }

    ul {
        float: right;
        margin-right: 150px;

        li {
            list-style: none;
            display: inline-block;
            line-height: 50px;
            margin: 0 10px;

            a {
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 17px;
            }

            .active {
                color: variables.$button-color;
            }
        }
    }

    .btn {
        color: #fff;
        font-size: 40px;
        line-height: 50px;
        float: right;
        margin-right: 20px;
        cursor: pointer;
        display: none;
    }

    #check {
        display: none;
    }
}


@media (max-width: 700px) {
    nav {

        .btn {
            display: block;
        }

        ul {
            position: fixed;
            z-index: 999;
            width: 100%;
            height: calc(100vh - 50px);
            background: variables.$accent-color;
            left: -100%;
            text-align: center;
            transition: all .5s;

            li {
                display: block;
            }
        }

        #check:checked ~ ul {
            left: 0;
        }
    }
}