<nav>
    <label for="check" class="btn">
        <i class="las la-bars" id="menu" (click)="toggleIcon()"></i>
    </label>
    <input type="checkbox" id="check">

    <label class="logo">the Specs</label>
    <ul>
        <li>
            <a [routerLink]="'home'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" (click)="linkClicked()">Home
            </a>
        </li>
        <li>
            <a [routerLink]="'products'" [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact: true}" (click)="linkClicked()">Products
            </a>
        </li>
    </ul>
</nav>