@use '../../../partials/variables';

.top--nav {
    background-color: variables.$primary-color;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;

    h2 {
        color: variables.$button-color;
        font-weight: 500;
        font-size: 1.2em;
        margin: 0 0 0 2rem;
    }

    .header-links {
        display: flex;
        gap: 30px;
        margin-right: 200px;

            a {
                color: #fff;
                text-decoration: none;
                font-weight: 200;
            }

            .active {
                border-bottom: 2px solid variables.$button-color;
                font-weight: 400;
            }

    }
}