@use '../../../../partials/variables';

.testimony-container {
    background-color: #f5f6fa;

    .testimony-title {
        
        h2 {
            color: variables.$button-color;
            padding-top: 20px;
            font-weight: 300;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .testimonies {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        padding: 20px;
        gap: 15px;

        .testimony {
            width: 380px;
            background-color: #fff;
            border-radius: 10px;
            padding: 10px;

            p {
                font-weight: 200;
                line-height: 1.8;
                margin-bottom: 10px;
            }

            h4 {
                display: flex;
                align-items: center;
                gap: 5px;
                img {
                    width: 40px;
                    height: 40px;
                    border: 1px solid green;
                    border-radius: 50%;
                }
                span {
                    font-weight: 300;
                }
            }
        }
    }
}